.productDisplay {
    display: flex;
    margin: 0px 170px;
}

.productDisplay-left {
    display: flex;
    gap: 17px;
}

.productDisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productDisplay-img-list img {
    height: 163px;
}

.productDisplay-main-img {
    width: 586px;
    height: 700px;
}

.productDisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productDisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productDisplay-right-start {
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #1c1c1c;
    font-size: 16px;
}

.productDisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productDisplay-right-price-new {
    color: #ff4141;
}

.productDisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productDisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productDisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productDisplay-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productDisplay-right-category {
    margin-top: 10px;
}

.productDisplay-right-category span {
    font-weight: 600;
}

@media(max-width: 1280px) {
    .productDisplay {
        margin: 0px 60px;
    }
    .productDisplay-left {
        gap: 10px;
    }
    .productDisplay-img-list {
        gap: 10px;
    }
    .productDisplay-img-list img {
        height: 120px;
    }
    .productDisplay-main-img {
        width: auto;
        height: 510px;
    }
    .productDisplay-right {
        margin: 0px 30px;
    }
    .productDisplay-right h1 {
        font-size: 22px;
    }
    .productDisplay-right-start {
        gap: 3px;
        font-size: 13px;
    }
    .productDisplay-right-prices {
        margin: 10px 0px;
        font-size: 18px;
    }
    .productDisplay-right-description {
        font-size: 13px;
    }
    .productDisplay-right-size h1 {
        margin-top: 20px;
        font-size: 20px;
    }
    .productDisplay-right-sizes div {
        padding: 14px 20px;
    }
    .productDisplay-right button {
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .productDisplay-right-category {
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .productDisplay {
        margin: 0px 30px;
    }
    .productDisplay-left {
        gap: 5px;
    }
    .productDisplay-img-list img {
        height: 80px;
    }
    .productDisplay-main-img {
        height: 350px;
    }
    .productDisplay-right h1 {
        font-size: 18px;
    }
    .productDisplay-right-start {
        width: 15px;
    }
    .productDisplay-right-description {
        font-size: 12px;
    }
    .productDisplay-right-sizes {
        margin-top: 10px 0px;
    }
    .productDisplay-right-sizes div {
        padding: 10px 16px;
        font-size: 12px;
    }
    .productDisplay-right button {
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productDisplay-right-category {
        font-size: 12px;
    }
}

@media(max-width: 800px) {
    .productDisplay {
        margin: 0px 10px;
    }
    .productDisplay-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productDisplay-img-list {
        flex-direction: row;
        gap: 6px;
    }
    .productDisplay-img-list img {
        height: 70px;
    }
    .productDisplay-main-img {
        height: 300px;
    }
    .productDisplay-right h1 {
        font-size: 14px;
    }
    .productDisplay-right-start {
        width: 13px;
    }
    .productDisplay-right-size h1 {
        margin-top: 10px 0px;
    }
    .productDisplay-right-description {
        font-size: 10px;
    }
    .productDisplay-right-sizes {
        margin-top: 10px;
        gap: 5px;
    }
    .productDisplay-right-sizes div {
        padding: 4px 11px;
    }
    .productDisplay-right button {
        width: 100px;
        font-size: 10px;
    }
    .productDisplay-right-category {
        font-size: 10px;
    }
}

@media(max-width: 500px) {
    .productDisplay {
        flex-direction: column;
    }
    .productDisplay-left {
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productDisplay-img-list {
        flex-direction: column;
        gap: 8px;
    }
    .productDisplay-img-list img {
        height: 75px;
    }
    .productDisplay-main-img {
        height: 330px;
    }
    .productDisplay-right {
        margin: 5px;
    }
    .productDisplay-right h1 {
        font-size: 20px;
        margin-top: 15px;
        font-weight: 500;
    }
    .productDisplay-right-start img {
        width: 15px;
    }
    .productDisplay-right-sizes {
        margin: 20px 0px;
        gap: 10px;
    }
    .productDisplay-right-sizes div {
        padding: 10px 16px;
        font-size: 14px;
    }
    .productDisplay-right button {
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .productDisplay-right-category {
        font-size: 16px;
    }
}